{% extends 'base.html' %}

{% block title %} {{ documents.client_name }} Contacts | Finanxial {% endblock %}

{% block content %}
{% if user.is_authenticated %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <br/><br/>
  <h3 class="text-muted">Add Contact</h3>

<form action='' method=POST>
  {% csrf_token %}

<p> <select name="client_name" class="form-control" placeholder="Client" required id="id_client_name">
  <option value="{{ client.id }}" selected>{{ client.client_name }}</option>
</select></p>


<p>{{ form.c_name_1}}</p>
<p>{{ form.c_num_1}}</p>
<p>{{ form.c_email_1}}</p>
<p><label for="id_c_name_2">(Optional):</label> <input type="text" name="c_name_2" class="form-control" placeholder="Contact Name" maxlength="200" ></p>
<p>{{ form.c_num_2}}</p>
<p>{{ form.c_email_2}}</p>
<p><label for="id_c_name_3">(Optional):</label> <input type="text" name="c_name_3" class="form-control" placeholder="Contact Name" maxlength="200" ></p>
<p>{{ form.c_num_3}}</p>
<p>{{ form.c_email_3}}</p>
<p><label for="id_c_name_4">(Optional):</label> <input type="text" name="c_name_4" class="form-control" placeholder="Contact Name" maxlength="200" ></p>
<p>{{ form.c_num_4}}</p>
<p>{{ form.c_email_4}}</p>
<p><label for="id_c_name_5">(Optional):</label> <input type="text" name="c_name_5" class="form-control" placeholder="Contact Name" maxlength="200" ></p>
<p>{{ form.c_num_5}}</p>
<p>{{ form.c_email_5}}</p>

  <center><button type="submit" value="Submit" class="btn btn-outline-primary">Submit</button></center>
</form>
  <br><br><br>

{% else %}
{% endif %}
{% endblock %}
