{% extends 'base.html' %}

{% block title %} Add Document | Finanxial {% endblock %}

{% block content %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <br/><br/>
  <h3 class="text-muted">New Document</h3>



  <form action="" method ='post' enctype ="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
      <div class="mb-3">
      <select name="client" class="form-control" placeholder="Client" id="id_client">
        <option value="{{ documents.id }}" selected>{{ documents.client_name }}</option>
      </select>
    </div>
    <div class="mb-3">
      {{ form.description }}

    </div>
    <div class="mb-3">
    {{ form.bank }}
    </div>
    <div class="mb-3">
    {{ form.document_type }}
    </div>
    <div class="mb-3">
      <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
        <input type="checkbox" class="btn-check" id="completed" name="completed" autocomplete="off">
        <label class="btn btn-outline-primary" for="completed" >Recieved</label>
      </div>
    </div>

    <center><input type="submit" value="Submit" class="btn btn-outline-secondary"></center>

  </form>



{% endblock %}
