{% extends 'base.html' %}

{% block title %} Add Document | Finanxial {% endblock %}

{% block content %}

{% if user.is_authenticated %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <br/><br/>
  <h3 class="text-muted">New Document</h3>



  <form action="" method ='post' enctype ="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
    {{ form.client }}
    </div>
    <div class="mb-3">
      {{ form.description }}
    </div>
    <div class="mb-3">
    {{ form.bank }}
    </div>
    <div class="mb-3">
      {{ form.document_type }}
    </div>
    

    <center><input type="submit" value="Submit" class="btn btn-outline-secondary"></center>

  </form>

{% else %}
{% endif %}

{% endblock %}
