{% extends 'base.html' %}

{% block title %} {{ documents.client_name }} | Finanxial {% endblock %}

{% block content %}
{% if user.is_authenticated %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">


  <form class="form-inline" method="POST">
    {% csrf_token %}


    <fieldset>
      <br/><br/>
      <left><h2 class="text-muted">‎‏‏{{ documents.client_name }}'s Record</h2></left>
      <br/><br/>
      <div class="container">
        <div class="row align-items-start">
          <div class="col">
            <label for="disabledTextInput" class="form-label">Client Name</label>
            <input type="text" name="client_name" class="form-control" value="{{ documents.client_name }}" maxlength="200" required id="id_client_name">
          </div>
          <div class="col">
            <label for="disabledTextInput" class="form-label">Industry Type</label>
            <input type="text" name="industry_type" class="form-control" value="{{ documents.industry_type }}" maxlength="200" required id="id_industry_type">
          </div>

          <div class="col">
            <label for="disabledTextInput" class="form-label">Client Type</label>
            <select name="client_type" class="form-control" required id="id_client_type">
              <option value="{{ documents.client_type }}">{{ documents.client_type }}</option>

              <option value="Data Entry">Data Entry</option>

              <option value="Reconcile and Review">Reconcile and Review</option>

              <option value="Review">Review</option>
            </select>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col">
            <label for="disabledTextInput" class="form-label">Project Manager</label>
            <input type="text" name="project_manager" class="form-control" value="{{ documents.project_manager }}" maxlength="200" required id="id_project_manager">
          </div>
          <div class="col">
            <label for="disabledTextInput" class="form-label">Tax ID</label>
            <input type="text" name="tax_id" class="form-control" value="{{ documents.tax_id }}" maxlength="200" required id="id_tax_id">
          </div>
          <div class="col">
            <label for="disabledTextInput" class="form-label">Bank Accounts</label>
            <input type="text" name="bank_accounts" class="form-control" value="{{ documents.bank_accounts }}" maxlength="200" required id="id_bank_accounts">
          </div>
        </div>
        <div class="row align-items-end">
          <div class="col">
            <label for="disabledTextInput" class="form-label">Contact Name</label>
            <input type="text" name="contact_name" class="form-control" value="{{ documents.contact_name}}" maxlength="200" required id="id_contact_name">
          </div>
          <div class="col">
            <label for="disabledTextInput" class="form-label">Contact Number</label>
            <input type="text" name="contact_number" class="form-control" value="{{ documents.contact_number }}" maxlength="200" required id="id_contact_number">
          </div>
          <div class="col">
            <label for="disabledTextInput" class="form-label">Contact Email</label>
            <input type="email" name="contact_email" class="form-control" value="{{ documents.contact_email }}" maxlength="200" required id="id_contact_email">
          </div>
        </div>
        <div class="row">
          <div class="col">

          </div>
          <div class="col">
          <label for="disabledTextInput" class="form-label">Client Group</label>
          <select name="client_group" class="form-control" required id="id_client_group">
            <option value="{{ documents.client_group }}">{{ documents.client_group }}</option>
            {% for group in groups %}
            <option value="{{ group.client_group }}">{{ group.client_group }}</option>
            {% endfor %}
          </select>
          </div>
          <div class="col">

          </div>
        </div>
      </div>

    </fieldset>
  <br/><br/>

  <div class="d-grid gap-2 col-2 mx-auto"">
  <button class="btn btn-primary" type="submit">Edit</button>
  </div>
  <p style="
  margin-bottom: 5px;
">
    <div class="d-grid gap-2 col-2 mx-auto"">
      <a class="btn btn-danger" href="{% url 'delete' documents.id %}" role="button">Delete</a>
    </div>
    <p style="
    margin-bottom: 5px;
  ">

  <div class="d-grid gap-2 col-2 mx-auto"">
    <a class="btn btn-outline-secondary" href="{% url 'document_id' documents.id %}" role="button">View Documents</a>
  </div>
  <p style="
  margin-bottom: 5px;
  ">
  </form>
  <br/><br/>
  <left><h4 class="text-muted">Documents</h4></left>

  {% if documents %}

        {% if documents %}
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Description</th>
                <th>File Type</th>
                <th>Bank</th>
                <th>Status</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            {% for items in document_list %}
              <tbody>
                <tr>
                  <td>{{ items.description }}</td>
                  <td>{{ items.document_type }}</td>
                  <td>{{ items.bank }}</td>
                  <td>{% if items.completed == True %}
                        Received
                        <td></td>
                      {% else %}
                        Missing
                        <td><center><a class="btn btn-outline-info" href="{% url 'edit_document' documents.id items.id %}" role="button">Send Request</a></center></td>
                      {% endif %}


                  <td><center><a class="btn btn-outline-dark" href="{% url 'edit_document' documents.id items.id %}" role="button">Select</a></center></td>

                </tr>

            </tbody>
           {% endfor %}
         </table>
       </div>
        {%endif%}

  {% endif %}
  <div>
    <center><a class="btn btn-outline-secondary" href="{% url 'document_id_add' documents.id %}" role="button">Add Document</a></center>
  </div>
<br/>
<br/>
<br/>
<br/>

{% else %}
{% endif %}
{% endblock %}
