{% extends 'base.html' %}

{% block title %} Groups | Finanxial {% endblock %}

{% block content %}
{% if user.is_authenticated %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <br/><br/>
  <h2 class="text-muted">Groups</h2>
  <br/>
{% if all_items %}
<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Group Name</th>
        <th> </th>
        <th> </th>
      </tr>
    </thead>
  {% for items in all_items %}

      <tbody>
        <tr>
          <td>{{ items.client_group }}</td>
          <td><center><a class="btn btn-outline-dark" href="{% url 'group_search' items.id %}" role="button">Select</a></center></td>
          <td><center><a class="btn btn-outline-danger" href="{% url 'group_delete' items.id %}" role="button">Delete</a></center></td>

        </tr>



   {% endfor %}
   <td></td>
   <td></td>
   <td><center><a class="btn btn-outline-primary" href="{% url 'group' %}" role="button">Add Group</a></center></td>
   </tbody>
 </table>
</div>
{%endif%}

{% else %}
{% endif %}

{% endblock %}
