{% extends 'base.html' %}

{% block title %} Records | Finanxial {% endblock %}

{% block content %}

{% if user.is_authenticated %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <br/><br/>
  <h2  class="text-muted">Client Records</h2>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
{% if all_items %}

      {% if all_items %}
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr  class="table-primary">
              <th>Client Name</th>
              <th>Contact Name</th>
              <th>Contact Number</th>
              <th>Contact Email</th>
              <th>Client Type</th>
              <th>Industry Type</th>
              <th>Project Manager</th>
              <th>Tax ID</th>
              <th>Client Group</th>
              <th> </th>
            </tr>
          </thead>
        {% for items in all_items %}

            <tbody>
              <tr>
                <td>{{ items.client_name }}</td>
                <td>{{ items.contact_name }}</td>
                <td>{{ items.contact_number }}</td>
                <td>{{ items.contact_email }}</td>
                <td>{{ items.client_type }}</td>
                <td>{{ items.industry_type }}</td>
                <td>{{ items.project_manager }}</td>
                <td>{{ items.tax_id }}</td>
                <td>{{ items.client_group }}</td>
                <td><center><a class="btn btn-outline-secondary" href="{% url 'client_page' items.id %}" role="button">Select</a></center></td>

              </tr>

            </tbody>

         {% endfor %}
       </table>
     </div>
      {%endif%}


{% endif %}

{% else %}
{% endif %}
{% endblock %}
