{% extends 'base.html' %}

{% block title %} Search Results | Finanxial {% endblock %}

{% block content %}
{% if user.is_authenticated %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <br/>
  <h2 class="text-muted">Search Results</h2>

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

  {% if searched %}

        {% if searched %}
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Client Name</th>
                <th>Contact Name</th>
                <th>Contact Number</th>
                <th>Contact Email</th>
                <th>Client Type</th>
                <th>Industry Type</th>
                <th>Project Manager</th>
                <th>Tax ID</th>
                <th>Bank Accounts</th>
                <th></th>
              </tr>
            </thead>
          {% for client in clients %}

              <tbody>
                <tr>
                  <td>{{ client.client_name }}</td>
                  <td>{{ client.contact_name }}</td>
                  <td>{{ client.contact_number }}</td>
                  <td>{{ client.contact_email }}</td>
                  <td>{{ client.client_type }}</td>
                  <td>{{ client.industry_type }}</td>
                  <td>{{ client.project_manager }}</td>
                  <td>{{ client.tax_id }}</td>
                  <td>{{ client.bank_accounts }}</td>
                  <td><center><a class="btn btn-outline-secondary" href="{% url 'edit' client.id %}" role="button">Select</a></center></td>

                </tr>

              </tbody>

           {% endfor %}
         </table>
       </div>
        {%endif%}

  {% else %}
  <h4>No results...</h4>
  {% endif %}

{% else %}
{% endif %}

{% endblock %}
