{% extends 'base.html' %}

{% block title %} Search | Tax ID | Finanxial {% endblock %}

{% block content %}

{% if user.is_authenticated %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">



<br/><br/>
  <h2 for="exampleDataList" class="form-label text-muted">Search for Client</h2>

  <div class="input-group input-group-lg mb-3" >
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Tax ID</button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{% url 'searchCN' %}">Client Name</a></li>
      <li><a class="dropdown-item" href="{% url 'searchPM' %}">Project Manager</a></li>
      <li><a class="dropdown-item" href="{% url 'searchGroup' %}">Group</a></li>
    </ul>


    <div class=" input-group-lg col-lg-5">
      <form class="d-flex" method=POST action="{% url 'searchTI_q' %}">
        {% csrf_token %}



        <input type="search" class="form-control" aria-label="Text input with dropdown button"  name="searched">
        <span><button class="btn btn-outline-secondary btn-lg" type="submit">Search</button></span>

      </form>
      </div>
  </div>

{% else %}
{% endif %}


{% endblock %}
